@font-face {
    font-family: MondayFeelings;
    src: url(fonts/MondayFeelings.ttf);
}

body {
    background-color: #d8a3fe;
}

h2 {
    margin-top: 16px;
}

footer {
    color: white;
    padding: 32px;
}

#carouselControls {
    margin-top: 16px;
    margin-bottom: 16px;
}

.gameplay {
    width: 100%;
}

.heart {
    width: 48px;
}

.main-image {
    border-radius: 50%;
    width: 60%;
    padding-top: 32px;
}

.my-card {
    background-color: white;
    border-radius: 32px;
    padding: 32px;
    margin: 16px;
}

.main-sidebar {
    font-family: MondayFeelings;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #b88fe3;
    text-align: center;
}

.main-content {
    margin-left: 20%;
    text-align: center;
}

.active {
    background-color: #d8a3fe;
}

.social-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.social-link {
    color: white;
    flex: 30%;
}

.social-link > i {
    font-size: 24px;
}

.social-link:hover {
    color: #d8a3fe;
}

.main-link {
    text-decoration: none;
    color: white;
}

.main-link-content {
    background-color: #b88fe3;
    height: 64px;
    line-height: 64px;
    cursor: default;
}

.main-link-content:hover {
    background-color: #d8a3fe
}

@media screen and (min-width: 800px) {
    .main-sidebar {
        width: 15%;
    }

    .main-content {
        margin-left: 15%;
    }

    .my-card {
        margin: 64px;
    }

    .gameplay {
        width: 60%;
    }
}

@media screen and (max-width: 1080px) {
    .heart {
        display: none;
    }

    .social-link > i {
        font-size: 16px;
    }
}