body {
  background-color: #e0c2ff;
}

nav {
  background-image: url("images/star.png");
  background-size: cover;
}

footer {
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 16px;
}

h2 {
  margin-top: 32px;
}

small {
	font-style: italic;
}

.navbar {
  box-shadow: 0px 5px 10px grey;
}

.logo {
  max-height: 48px;
  padding: 0px;
  margin: 0px;
}

.content {
  background-color: #F4F4F9;
  box-shadow: 8px 8px 16px grey;
  padding: 20px;
  margin-top: 32px;
  border-radius: 16px;
  text-align: center;
  max-width: 90%;
}

.flex-container {
  display: flex;
}

.welcome {
  max-width: 60%;
}

.projectimg {
  max-width: 300px;
  border-radius: 30px;
}


.headshot {
  border-radius: 50%;
  max-height: 200px;
  padding: 16px;
}

.donate {
	padding-top: 8px;
}

#carouselControls {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#carouselControls .carousel-item img {
  object-fit: contain;
  height: 400px;
  overflow:hidden;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.carousel-caption {
  height: 32px;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: 30px;
  text-align: center;
  background-color: rgba(17, 29, 74, 0.5);
}

#social {
	margin-top: 32px;
}

#support {
	margin-top: 16px;
}

#support h3 {
	margin-bottom: 0px;
}

#support button {
	margin-bottom: 4px;
}

@media (min-width: 800px) {
  .content {
    max-width: 60%;
  }

  .welcome {
    max-width: 40%;
  }
}
