body {
  background-color: #C2CAE8;
}

nav {
  background-image: url("images/foil.jpg");
  background-size: cover;
}

footer {
  padding: 20px;
  text-align: center;
  margin-top: 16px;
}

h2 {
  margin-top: 32px;
}

.navbar {
  box-shadow: 0px 5px 10px grey;
}

.content {
  background-color: white;
  box-shadow: 8px 8px 16px grey;
  padding: 20px;
  margin-top: 32px;
  border-radius: 16px;
  text-align: center;
  max-width: 90%;
}

.flex-container {
  display: flex;
}

.welcome {
  max-width: 60%;
}

.projectimg {
  max-width: 300px;
  border-radius: 30px;
}


.headshot {
  border-radius: 50%;
  max-height: 200px;
  padding: 16px;
}

#carouselControls {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#carouselControls .carousel-item img {
  object-fit: contain;
  height: 400px;
  overflow:hidden;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.carousel-caption {
  height: 32px;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: 30px;
  text-align: center;
  background-color: rgba(17, 29, 74, 0.5);
}

@media (min-width: 800px) {
  .content {
    max-width: 60%;
  }

  .welcome {
    max-width: 40%;
  }
}
