canvas {
  border: 4px solid black;
  padding: 0;
  margin: auto;
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 512px;
  height: 480px;
}

.game-logo {
  display: block;
  margin: 20px auto 20px auto;
  width: 220px;
  height: 125px;
}

.content {
  background-color: white;
  padding: 20px;
  margin-top: 32px;
  border-radius: 32px;
  text-align: center;
  width: 90%;
}

.gameboy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 850px;
  position: absolute;
  z-index: 1;
}

.game-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 1400px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#canvas {
  background-color: black;
  position: relative;
  top: 120px;
  z-index: 20;
}

table {
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

th {
  background-color: #3cbcfc;
  padding: 10px;
}

td {
  padding: 4px;
}

tr:nth-child(odd) {
  background-color: #a4e4fc;
}

.toggle-img {
  max-height: 48px;
  padding: 0px;
  margin: 0px;
  -webkit-filter: drop-shadow(2px 2px 4px grey);
  filter: drop-shadow(2px 2px 4px grey);
}

.logo {
  max-height: 48px;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: MondayFeelings;
  src: url(MondayFeelings.ttf);
}

body {
  background-color: #d8a3fe;
}

h2 {
  margin-top: 16px;
}

footer {
  color: white;
  padding: 32px;
}

.heart {
  width: 48px;
}

.main-image {
  border-radius: 50%;
  width: 60%;
  padding-top: 32px;
}

.my-card {
  background-color: white;
  border-radius: 32px;
  padding: 32px;
  margin: 16px;
}

.main-sidebar {
  font-family: MondayFeelings;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #b88fe3;
  text-align: center;
}

.main-content {
  margin-left: 20%;
  text-align: center;
}

.active {
  background-color: #d8a3fe;
}

.social-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.social-link {
  color: white;
  flex: 30%;
}

.social-link > i {
  font-size: 24px;
}

.social-link:hover {
  color: #d8a3fe;
}

.main-link {
  text-decoration: none;
  color: white;
}

.main-link-content {
  background-color: #b88fe3;
  height: 64px;
  line-height: 64px;
  cursor: default;
}

.main-link-content:hover {
  background-color: #d8a3fe
}

@media screen and (min-width: 800px) {
  .main-sidebar {
      width: 15%;
  }

  .main-content {
      margin-left: 15%;
  }

  .my-card {
      margin: 64px;
  }
}

@media screen and (max-width: 1080px) {
  .heart {
      display: none;
  }

  .social-link > i {
      font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .content {
    max-width: 70%;
  }
  .gameboy {
    width: 425px;
  }

  .itch {
    width: 208px;
  }

  .game-container {
    height: 700px;
  }

  #canvas {
    top: 50px;
    width: 256px;
    height: 240px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 40%;
  }
}

@media (max-width: 500px) {
  table {
    display: block;
  }

  .gameboy {
    width: 212px;
  }

  .game-container {
    height: 350px;
  }

  #canvas {
    top: 25px;
    width: 128px;
    height: 120px;
  }
}
